<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @h1_text %></h1>

    <p>
      View <%= link_to("the run log", run_url(@run)) %> for full details.
    </p>

    <% if @run.successful? %>
      <h2>Data Quality Reports for the Run</h2>

      <% @run.run_step_logs.data_quality_reports.each do |log| %>

        <h3><%= log.step_name %></h3>
        <p><%= log.step_sql %></p>


        <table>
          <tr>
            <% report_headers(log).each do |header| %>
              <th><%= header %></th>
            <% end %>
          </tr>
            <% log.step_result.each do |hash| %>
              <tr>
                <% report_headers(log).each do |header| %>
                  <td><%= hash[header] %></td>
                <% end %>
              </tr>
            <% end %>
        </table>

      <% end %>
    <% end %>

  </body>
</html>
