<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @h1_text %></h1>

    <p>
      View <%= link_to("the run log", run_url(@run)) %> for full details.
    </p>

    <% if @run.successful? %>
      <h2>Data Quality Reports for the Run</h2>

      <% @run.run_step_logs.workflow_data_quality_reports.sort_by(&:step_name).each do |log| %>

        <h3><%= log.step_name %></h3>
        <p><pre><%== log.step_interpolated_sql %></pre></p>

        <table>
          <tr>
            <% report_headers(log).each do |header| %>
              <th><%= header %></th>
            <% end %>
          </tr>
          <% report_body(log).each do |arr| %>
            <tr>
              <% arr.each do |elm| %>
                <td><%= elm %></td>
              <% end %>
            </tr>
          <% end %>
        </table>

      <% end %>
    <% end %>

  </body>
</html>
